name: Build and Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Nama Tag untuk Release'
        required: true
        default: 'v1.0.0'

permissions:
  contents: write

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build binary
        run: |
          go build -o malasfetch main.go

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag_name }}
          name: Release ${{ github.event.inputs.tag_name }}
          draft: false
          prerelease: false
          files: malasfetch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
